.profile_links
  %img( src="http://www.gravatar.com/avatar/9398db831f8cd77ce43662c5f94ebf63?s=300" alt="jonesdeini" id="pic" )

  %br

  = link_to "github", "http://github.com/jonesdeini"
  = link_to "twitter", "http://twitter.com/jonesdeini"
  = link_to "steam", "http://steamcommunity.com/fromrags2bitches"

%br

= link_to image_tag("steam_signin.png"), new_session_path
