%body

  #page-wrap
    -#%img{ src: asset_path("yeah-im-in-a-gang-cat-guy.jpg"), alt:"jonesdeini", id:"pic" }
    %img( src="http://www.gravatar.com/avatar/9398db831f8cd77ce43662c5f94ebf63?s=400" alt="jonesdeini" id="pic" )

    #contact-info
      .card
        %h1
          .fn
            Rob Jones

        %p
          Email:
          %a.email(href="mailto:jonesdeini@gmail.com") jonesdeini@gmail.com
          %br
          Github:
          %a(href="http://github.com/jonesdeini") github.com/jonesdeini

    #objective
      %p
        I am an outgoing and energetic (ask anybody) young professional, seeking a 
        career that fits my professional skills, personality, and murderous tendencies. 
        My squid-like head is a masterful problem solver and inspires fear in who gaze upon it. 
        I can bring world domination to your organization. 

    #clear

    %dl
      %dd.clear

      %dt Education
      %dd
        %h2 Withering Madness University - Planet Vhoorl
        %p
          %strong Major: 
          Public Relations
          %br
          %strong Minor: 
          Scale Tending

      %dd.clear

      %dt Skills
      %dd
        %h2 Office skills
        %p Office and records management, database administration, event organization, customer support, travel coordination

        %h2 Computer skills
        %p Microsoft productivity software (Word, Excel, etc), Adobe Creative Suite, Windows

      %dd.clear

      %dt Experience
      %dd
        %h2 Doomsday Cult
        %span Leader/Overlord - Baton Rogue, LA - 1926-2010
        %ul
          %li Inspired and won highest peasant death competition among servants
          %li Helped coordinate managers to grow cult following
          %li Provided untimely deaths to all who opposed

        %h2 The Watering Hole \
        %span Bartender/Server - Milwaukee, WI - 2009
        %ul
          %li Worked on grass-roots promotional campaigns
          %li Reduced theft and property damage percentages
          %li Janitorial work, Laundry

      %dd.clear

      %dt Hobbies
      %dd World Domination, Deep Sea Diving, Murder Most Foul

      %dd.clear

      %dt References
      %dd Available on request

      %dd.clear

    #clear
