.profile_picture
  %img( src="http://www.gravatar.com/avatar/9398db831f8cd77ce43662c5f94ebf63?s=300" alt="jonesdeini" id="pic" )

.profile_links
  = link_to image_tag("github.png"), "http://github.com/jonesdeini"
  = link_to image_tag("twitter.png"), "http://twitter.com/jonesdeini"
  = link_to image_tag("steamcommunity.jpg"), "http://steamcommunity.com/id/fromrags2bitches"

%br

= link_to image_tag("steam_signin.png"), new_session_path
