%body

  #page-wrap
    -#%img{ src: asset_path("yeah-im-in-a-gang-cat-guy.jpg"), alt:"jonesdeini", id:"pic" }
    %img( src="http://www.gravatar.com/avatar/9398db831f8cd77ce43662c5f94ebf63?s=400" alt="jonesdeini" id="pic" )

    #contact-info
      .vcard
        %h1
          .fn
            Rob Jones

        %p
          Email:
          %a.email(href="mailto:jonesdeini@gmail.com") jonesdeini@gmail.com
          %br
          Github:
          %a(href="http://github.com/jonesdeini") github.com/jonesdeini

    #objective
      %p
        I'm a young energetic Buffalonian  who loves to build things, seeking a carrer in
        web services. I'm an advocate of test driven development, and I take pride in my code
        and tools the I use to create it.

    #clear

    %dl
      %dd.clear

      %dt Education
      %dd
        %h2 University At Buffalo  - 2011
        %p
          %strong B.S. in Computer Science
      %dd
        %h2 Erie Community College - 2009
        %p
          %strong A.S. in Computer Science

      %dd.clear

      %dt Skills
      %dd
        %h2 Langauges
        %p
          Proficient in: Ruby, JavaScript/CoffeeScript/JQuery, CSS/SCSS, HTMl/haml
          %br
          Familiar with Java, C/C++, CommonLisp, and MATLAB

        %h2 Software & Technologies
        %p
          Database: PostrgreSQL, MySQL, and Redis
          %br
          Platforms: Linux, Microsoft Windows, and Mac OSX
          %br
          Other: git, Capistrano, Jenkins, Netbeans, Eclipse, Visual Studio, MATLAB

      %dd.clear

      %dt Experience
      %dd
        %h2 Web Developer 2011 – Present
        %span Academic Software Plus – Amherst, NY
        %ul
          %li Developed web applications using Ruby on Rails framework, including  http://cpi1.amsapps.com and http://current.webadmit.com
          %li Implemented reporting features utilizing a data warehouse.
          %li Brought antiquated test suite up to date, and setup a continuous integration server to enforce maintenance of the test suite.

      %dd.clear

      %dt Hobbies & Interests
      %dd I love linux and open source
      %dd vim advocate

      %dd.clear

      %dt References
      %dd Available on request

      %dd.clear

    #clear
