development:
  adapter: postgresql
  database: sandvich_development
  pool: 5
  encoding: unicode
  # username:
  # password:
  # host:
  # port:

test:
  adapter: postgresql
  database: sandvich_test
  pool: 5
  pool: 5
  encoding: unicode
  # username:
  # password:
  # host:
  # port:
