all_the_things: &all_the_things
  adapter: postgresql
  pool: 5
  username: jonesdeini

development:
  <<: *all_the_things
  database: sandvich_development

test:
  <<: *all_the_things
  database: sandvich_test

production:
  <<: *all_the_things
  database: sandvich_production
