%h1 TAAAA DAAAAA!!!

%h2 hey bro, starting it up meow

%h3 you searched for these clans:
%p
  - @crawlers.each do |crawler|
    = "clan: #{crawler.clan_url}"
    %br
    -# = "steam_ids: #{crawler.steam_ids.count} \n"
