%h1 TAAAA DAAAAA!!!

hey bro, starting it up meow

%p
  you searched for these clans:
  - @clans.each do |clan|
    = clan

%p
  Progress tracker should be designed to allow for integration with
  golang crawler
